WelcomeScreen Header {
    background: $accent;
}

WelcomeScreen #welcome-title {
    content-align: center top;
    width: 100%;    
    margin: 7 0;
    background: $panel;
    border: tall $accent;
}

WelcomeScreen Horizontal {
    align: center middle;
}

WelcomeScreen Button {
    background: $surface;
    border: tall $border;
    margin: 0 5;
    height: 3;
}